<h2>Countries</h2>
<hr>

<ul class="list-group">

  <li
    routerLinkActive="active"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
      Home Page
  </li>

  <li
    routerLinkActive="active"
    routerLink="about"
    class="list-group-item">
      About Page
  </li>

  <li
    routerLinkActive="active"
    routerLink="contact"
    class="list-group-item">
      Contact Page
  </li>

  <li
    routerLinkActive="active"
    routerLink="countries/by-capital"
    class="list-group-item">
      By capital
  </li>

  <li
    routerLinkActive="active"
    routerLink="countries/by-country"
    class="list-group-item">
      By country
  </li>

  <li
    routerLinkActive="active"
    routerLink="countries/by-region"
    class="list-group-item">
      By region
  </li>


</ul>
