<h2>By Region</h2>
<hr>

<div class="row">
  <div class="col text-center">

    <button *ngFor="let region of regions"
      class="btn mx-2"
      (click)="searchByRegion(region)"
      [ngClass]="{ 'btn-outline-danger': selectedRegion === region }">
        {{ region }}
    </button>

  </div>
</div>

<div class="row">
  <div class="col">

    <hr>

    <shared-loading-spinner
      *ngIf="isLoading">
    </shared-loading-spinner>

    <country-country-table
      [countries]="countries">
    </country-country-table>

  </div>
</div>
